<%- model_class = Member -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% @members.each_with_index do |member, index| %>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <%= image_tag member.github_avatar_url, alt: member.name, class:'github_avatar' %>
                <div class="caption">
                    <h3> <%= member.name %> </h3>
                    <p>
                        <%= link_to "Follow @#{member.name}", member.home, {class: 'github-button', :data => {style: 'mega', 'count-href' => "/#{member.name}/followers", 'count-api' => "/users/#{member.name}#followers", 'content-aria-label' => '# followers on GitHub', 'label' => "Follow @#{member.name} on Github"}} %>
                    </p>
                    <p> Rank : <%= (index+1).ordinalize %> </p>
                    <p> Current Streak: <%= member.current_streak %> </p>
                    <p> Max Streak: <%= member.max_streak %> </p>
                    <p> Last Day Count: <%= member.last_day_count %> </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <%= member.svg.html_safe %>
        </div>
    </div>
<% end %>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
